<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-itunes-app" content="app-id=1102859121">

		<!-- Open Graph data -->
		<meta property="og:title" content="iStumbler">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://istumbler.net/labs/">
		<meta property="og:image" content="https://istumbler.net/images/istumbler-logo-black-256.png">
		<meta property="og:description" content="Handcrafted Tools for Better Computing">
		<meta property="og:site_name" content="iStumbler Labs">

		<link rel="stylesheet" type="text/css" href="//istumbler.net/istumbler.css">
		<link rel="alternate" title="iStumbler News"  href="//istumbler.net/feeds/news.rss" type="application/rss+xml">
		<link rel="icon" href="//istumbler.net/apple-touch-icon-precomposed.png" type="image/png">
	</head>
	<body>	
<div class="banner">
<div class="header">
<img class="logo" src="//istumbler.net/images/istumbler-logo-black-256.png" alt="iStumbler Logo">
<div class="headline">iStumbler Labs Blog</div>
<div class="tagline">This is Just, Like, My Option, Man.</div>
<div class="navigation">
	<a class="nav" href="//istumbler.net/index.html">iStumbler</a> :
	<a class="nav" href="//istumbler.net/plugins.html">Features</a> &middot;
	<a class="nav" href="//istumbler.net/store/">Store</a> &middot;
	<a class="nav" href="//istumbler.net/help/">Manual</a> :
	<a class="nav" href="/">Blog</a> &middot;
	<a class="nav" href="//istumbler.net/labs/">Labs</a>
</div>
</div>
</div><!-- /banner -->

<div class="content">
{{ content }}
</div><!-- /content -->

<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
	var u="//istumbler.innocraft.cloud/";
	_paq.push(['setTrackerUrl', u+'piwik.php']);
	_paq.push(['setSiteId', '1']);
	var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

	</body>
</html>
<!-- Copyright &copy; 2002-2024, Alf Watt (alf@istumbler.net). All rights reserved. -->
